---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

import { countWords } from "@utils/countWords";

const words = await getCollection("words");

const threshold = 50;

const empty = words.filter((word) => !word.body?.length);
const short = words
  .filter((word) => word.body && countWords(word.body) < threshold)
  .sort((a, b) => b.body!.length - a.body!.length);
const done = words
  .filter((word) => word.body && countWords(word.body) >= threshold)
  .sort((a, b) => b.body!.length - a.body!.length);
---

<Layout
  title="Status"
  description="Progress information on dictionary completion."
>
  <h1>Status <a href="/">↩</a></h1>

  <p>
    <b>{done.length} / {words.length}</b> entries done: {
      done.map((word, i) => (
        <>
          <a href={`/${word.id}`}>{word.id}</a> ({countWords(word.body)})
          {i !== done.length - 1 && ", "}
        </>
      ))
    }
  </p>
  <p>
    <b>{short.length} / {words.length}</b> entries with fewer than {threshold}
    {" "}words: {
      short.map((word, i) => (
        <>
          <a href={`/${word.id}`}>{word.id}</a> ({countWords(word.body)})
          {i !== short.length - 1 && ", "}
        </>
      ))
    }
  </p>
  <p>
    <b>{empty.length} / {words.length}</b> entries empty: {
      empty.map((word) => word.id).join(", ")
    }
  </p>
</Layout>
