---
import "@fontsource-variable/source-serif-4/opsz.css";
import "@fontsource-variable/source-serif-4/opsz-italic.css";
import "../styles/index.css";

import ThemeSelector from "../components/ThemeSelector.astro";
import ThemeSelectorScript from "../components/ThemeSelectorScript.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

const noUrl = Astro.routePattern == "/404";
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const siteName = "ilo Tani's Semantic Space Dictionary";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        {!noUrl && <link rel="canonical" href={canonicalUrl} />}

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        {!noUrl ? <meta property="og:url" content={Astro.url} /> : ""}
        <meta property="og:site_name" content={siteName} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <!-- <meta property="og:image" content={socialImageURL} /> -->

        <!-- Twitter -->
        <meta property="twitter:card" content="summary" />
        {!noUrl ? <meta property="twitter:url" content={Astro.url} /> : ""}
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <!-- <meta property="twitter:image" content={socialImageURL} /> -->

        <ThemeSelectorScript />
    </head>
    <body>
        <ThemeSelector />
        <main>
            <slot />
        </main>
    </body>
</html>
